<html>

<head>
    <script src="../scripts/helpers.js"></script>
    <script src="../scripts/CodeDemo.js"></script>
    <script src="../scripts/config.js"></script>
    <script src="../scripts/execute.js"></script>
    <script src="../scripts/events.js"></script>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>


<body>

<div id ="shell" style="font-family:'Courier New'; color:blue;">

    <script>
        main();
    </script>

</div>


</body>

</html>